#Entorno virtual
venv/

credentials.json
credentialsdb.json
credentialsdrive.json

# Cachés de Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# carpeta temporal
datatemp/

# Archivos generados por Airflow
airflow/airflow.db
airflow/logs/
airflow/webserver_config.py
airflow/airflow.cfg

# Archivos temporales y de sistema
.DS_Store
*.log
*.tmp
*.swp

# Archivos de compilación y paquetes
dist/
build/
*.egg-info/

# Archivos de configuración del editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
/home/user/etl_project/..gitignore.swp